/*Simple Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
}

:root {
	font-size: calc(14px + 0.32vh);
	@media screen and (min-width: 600px) {
		font-size: calc(14px + 0.098vw);
	}
}

li {
	list-style-type: none;
}

a {
	display: flex;
	text-decoration: none;
	color: inherit;
}

/* Hide Focus Styles */
:focus:not(:focus-visible) {
	outline: 0;
}

/*Font import*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");

body {
	font-family: Inter, Helvetica, -apple-system, SF Pro Display, San Francisco,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	letter-spacing: -0.3px;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
}

button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	outline: none;
	background: transparent;
	border: none;
	line-height: 1;
	cursor: pointer;
}
