//Flexbox
@mixin flex($direction: row, $align: center, $justify: null) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
}

//Grid
@mixin grid($align: null, $justify: null) {
	display: grid;
	align-items: $align;
	justify-content: $justify;
}

//Display none
@mixin d-none {
	display: none;
}

//Media Queries

//Big Smartphone devices
@mixin phone-large {
	@media screen and (min-width: 414px) {
		@content;
	}
}

//Tablet devices
@mixin tab {
	@media screen and (min-width: 600px) {
		@content;
	}
}

//Small screen laptops
@mixin laptop-small {
	@media screen and (min-width: 1024px) {
		@content;
	}
}

//Large screen laptops
@mixin laptop-large {
	@media screen and (min-width: 1440px) {
		@content;
	}
}

//Text
@mixin title-1 {
	font-size: 2.887rem;
	font-weight: 700;
}

@mixin title-2 {
	font-size: 2.566rem;
	font-weight: 700;
}
@mixin title-3 {
	font-size: 2.281rem;
	font-weight: 700;
}

@mixin heading-1 {
	font-size: 2.027rem;
	font-weight: 600;
}

@mixin heading-1-bold {
	font-size: 2.027rem;
	font-weight: 700;
}

@mixin heading-2 {
	font-size: 1.802rem;
	font-weight: 600;
}

@mixin heading-2-bold {
	font-size: 1.802rem;
	font-weight: 700;
}

@mixin heading-3 {
	font-size: 1.602rem;
	font-weight: 600;
}

@mixin heading-3-bold {
	font-size: 1.602rem;
	font-weight: 700;
}

@mixin heading-4 {
	font-size: 1.424rem;
	font-weight: 600;
}

@mixin heading-4-bold {
	font-size: 1.424rem;
	font-weight: 700;
}

@mixin heading-5 {
	font-size: 1.266rem;
	font-weight: 600;
}

@mixin heading-5-bold {
	font-size: 1.266rem;
	font-weight: 700;
}

@mixin paragraph-1 {
	font-size: 1.125rem;
}

@mixin paragraph-1-medium {
	@include paragraph-1;
	font-weight: 500;
}

@mixin paragraph-1-bold {
	@include paragraph-1;
	font-weight: 700;
}

@mixin paragraph-2 {
	font-size: 1rem;
}

@mixin paragraph-2-medium {
	font-size: 1rem;
	font-weight: 500;
}

@mixin paragraph-2-bold {
	@include paragraph-2;
	font-weight: 700;
}

@mixin details-1 {
	font-size: 0.889rem;
}

@mixin details-1-medium {
	@include details-1;
	font-weight: 500;
}

@mixin details-1-bold {
	@include details-1;
	font-weight: 600;
}

@mixin details-2 {
	font-size: 0.79rem;
}

@mixin details-2-medium {
	@include details-2;
	font-weight: 500;
}

@mixin details-2-bold {
	@include details-2;
	font-weight: 600;
}

@mixin details-3 {
	font-size: 0.702rem;
}

@mixin details-3-medium {
	@include details-3;
	font-weight: 500;
}

@mixin details-3-bold {
	@include details-3;
	font-weight: 600;
}

//Icons
@mixin small-icon {
	font-size: 1rem;
	padding: 0.26rem;
	cursor: pointer;
	@include flex;
}

@mixin regular-icon {
	font-size: 1.18rem;
	padding: 0.2rem;
	cursor: pointer;
	@include flex;
}

@mixin medium-icon {
	font-size: 1.32rem;
	padding: 0.24rem;
	cursor: pointer;
	@include flex;
}

@mixin large-icon {
	font-size: 1.64rem;
	padding: 0.2rem;
	cursor: pointer;
	@include flex;
}

//Hide Scrollbar
@mixin scroll-hide {
	scrollbar-width: none;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
