//Flexbox
@mixin flex($direction: row, $align: center, $justify: null) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
}

//Grid
@mixin grid($align: null, $justify: null) {
	display: grid;
	align-items: $align;
	justify-content: $justify;
}

//Calculate Responsive Pixel
@function respx($px) {
	$result: calc($rempx * $px);
	@return $result;
}

//Display none
@mixin d-none {
	display: none;
}

//Media Queries

//Big Smartphone devices
@mixin phone-large {
	@media screen and (min-width: 414px) {
		@content;
	}
}

//Tablet devices
@mixin tab {
	@media screen and (min-width: 600px) {
		@content;
	}
}

//Small screen laptops
@mixin laptop-small {
	@media screen and (min-width: 1024px) {
		@content;
	}
}

//Large screen laptops
@mixin laptop-large {
	@media screen and (min-width: 1440px) {
		@content;
	}
}

//Text
@mixin title-1 {
	font-size: calc($rempx * 45);
	font-weight: 600;
}

@mixin title-1-bold {
	font-size: calc($rempx * 45);
	font-weight: 700;
}

@mixin title-2 {
	font-size: calc($rempx * 37);
	font-weight: 600;
}

@mixin title-2-bold {
	font-size: calc($rempx * 37);
	font-weight: 700;
}

@mixin title-3 {
	font-size: calc($rempx * 35);
	font-weight: 600;
}

@mixin title-3-bold {
	font-size: calc($rempx * 35);
	font-weight: 700;
}

@mixin heading-1 {
	font-size: calc($rempx * 29);
	font-weight: 500;
}

@mixin heading-1-bold {
	font-size: calc($rempx * 29);
	font-weight: 600;
}

@mixin heading-2 {
	font-size: calc($rempx * 27);
	font-weight: 500;
}

@mixin heading-2-bold {
	font-size: calc($rempx * 27);
	font-weight: 600;
}

@mixin heading-3 {
	font-size: calc($rempx * 22);
	font-weight: 500;
}

@mixin heading-3-bold {
	font-size: calc($rempx * 20);
	font-weight: 600;
}

@mixin heading-4 {
	font-size: calc($rempx * 20);
	font-weight: 500;
}

@mixin heading-4-bold {
	font-size: calc($rempx * 20);
	font-weight: 600;
}

@mixin body {
	font-size: calc($rempx * 17);
}

@mixin body-bold {
	@include body;
	font-weight: 500;
}

@mixin caption-1 {
	font-size: calc($rempx * 16);
}

@mixin caption-1-bold {
	@include caption-1;
	font-weight: 500;
}

@mixin caption-2 {
	font-size: calc($rempx * 15);
}

@mixin caption-2-bold {
	@include caption-2;
	font-weight: 500;
}

@mixin caption-3 {
	font-size: calc($rempx * 13);
}

@mixin caption-3-bold {
	@include caption-3;
	font-weight: 500;
}

//Hide Scrollbar
@mixin scroll-hide {
	scrollbar-width: none;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
