//Colors
//Accents
$primary-color: hsl(211, 100%, 50%);
$secondary-color: hsl(264, 100%, 50%);
$gradient-color: linear-gradient($primary-color, $secondary-color);
$warning-color: hsl(48, 100%, 50%);
$success-color: hsl(135, 59%, 49%);
$danger-color: hsl(3, 100%, 59%);

//Grays
$gray-01: hsl(240, 24%, 99%);
$gray-02: hsl(240, 11%, 95%);
$gray-03: hsl(240, 6%, 90%);
$gray-04: hsl(240, 5%, 79%);
$gray-05: hsl(240, 3%, 69%);
$gray-06: hsl(240, 2%, 57%);

//Blacks
$black-01: hsl(0, 0%, 39%);
$black-02: hsl(0, 0%, 29%);
$black-03: hsl(0, 0%, 23%);
$black-04: hsl(0, 0%, 18%);
$black-05: hsl(0, 0%, 11%);
$black-06: hsl(0, 0%, 4%);

//Spacing
$rempx: calc(1.04rem / 16); //Rem pixel
$spacing-1: 0.2rem;
$spacing-2: 0.4rem;
$spacing-3: 0.6rem;
$spacing-4: 0.8rem;
$spacing-5: 1rem;
$spacing-6: 1.2rem;
$spacing-7: 1.4rem;
$spacing-8: 1.6rem;
$spacing-9: 1.8rem;
$spacing-10: 2rem;
$spacing-11: 2.4rem;
$spacing-12: 2.8rem;
$spacing-13: 3.2rem;
$spacing-14: 3.6rem;
$spacing-15: 4rem;
$spacing-16: 4.4rem;
$spacing-17: 4.8rem;
$spacing-18: 5.2rem;
$spacing-19: 5.6rem;
$spacing-20: 6rem;
$spacing-21: 6.4rem;
$spacing-22: 6.8rem;
$spacing-23: 7.2rem;
$spacing-24: 7.6rem;
$spacing-24: 8rem;
$spacing-25: 8.4rem;
$spacing-26: 8.8rem;
$spacing-27: 9.2rem;
$spacing-28: 9.6rem;
$spacing-29: 10rem;
$spacing-30: 10.4rem;
$spacing-31: 10.8rem;
$spacing-32: 11.2rem;
