@import "../../../scss/variables";
@import "../../../scss/utilities";

.slide {
	width: 100%;
	margin: 0 auto;
	@include tab {
		width: 100%;
		@include flex(row, center, center);
	}

	.slideText {
		width: 92%;
		@include tab {
			width: 36%;
		}
		@include laptop-small {
			width: 24%;
		}

		@include laptop-large {
			width: 20%;
		}
		.text {
			width: 100%;

			.caption {
				background: $gradient-color;
				margin-bottom: respx(8);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			.title {
				margin-bottom: respx(12);
				color: $black-06;
			}
			.description {
				margin-bottom: respx(28);
				color: $black-01;
			}
			.extra {
				color: $black-06;
				margin-bottom: respx(14);

				@include tab {
					margin-bottom: respx(24);
				}

				@include laptop-small {
					margin-bottom: respx(24);
				}
			}
		}
	}

	.imageContainer {
		width: 100%;

		.image {
			width: 100%;
			height: auto;
			border-radius: respx(8);
			box-shadow: respx(-1) 0 respx(24) 0 rgba(0, 0, 0, 0.072);
		}

		@include tab {
			width: respx(400);
			margin: 0;
		}

		@include laptop-small {
			width: respx(640);
		}
	}
}

.textLeft {
	@include flex(column-reverse, flex-start, center);
	@include tab {
		@include flex(row);
	}

	.slideText {
		margin-top: respx(28);
		@include tab {
			margin-top: 0;
			margin-right: respx(40);
		}

		.text {
			text-align: left;
			@include flex(column, flex-start, center);
			@include tab {
				text-align: right;
				@include flex(column, flex-end);
			}
		}
	}
}

.textRight {
	@include flex(column-reverse, flex-end, center);
	@include tab {
		@include flex(row-reverse, center, center);
	}

	.slideText {
		margin-top: respx(28);
		@include tab {
			margin-top: 0;
			margin-left: respx(40);
		}

		.text {
			text-align: right;
			@include flex(column, flex-end, center);
			@include tab {
				text-align: left;
				@include flex(column, flex-start);
			}
		}
	}
}
