@import "../../../scss/variables";
@import "../../../scss/utilities";

.slide {
	width: 100%;
	margin: 0 auto;
	@include tab {
		width: 100%;
		@include flex(row, center, center);
	}

	.slideText {
		width: 58%;
		@include tab {
			width: 36%;
		}
		@include laptop-small {
			width: 20%;
		}
		.text {
			width: 100%;

			.caption {
				background: $gradient-color;
				margin-bottom: respx(8);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			.title {
				margin-bottom: respx(12);
				color: $black-06;
			}
			.description {
				margin-bottom: respx(28);
				color: $black-01;
			}
			.extra {
				color: $black-06;
				margin-bottom: respx(24);

				@include tab {
					margin-bottom: respx(24);
				}

				@include laptop-small {
					margin-bottom: respx(24);
				}
			}
		}
	}

	.imageContainer {
		width: 100%;

		.image {
			width: 100%;
			height: auto;

			@include tab {
				width: 100%;
			}
		}

		@include tab {
			width: respx(400);
			margin: 0;
		}

		@include laptop-small {
			width: respx(640);
		}
	}
}

.textLeft {
	@include flex(column, center, center);
	@include tab {
		@include flex(row, center, center);
	}

	.slideText {
		margin-bottom: respx(64);
		@include tab {
			margin-bottom: 0;
		}

		.text {
			text-align: center;
			@include flex(column, center, center);
			@include tab {
				text-align: right;
				margin-right: respx(64);
				@include flex(column, flex-end);
			}
		}
	}
}

.textRight {
	@include flex(column, center, center);
	@include tab {
		@include flex(row, center, center);
	}

	.slideText {
		order: 1;
		margin-bottom: respx(64);
		@include tab {
			margin-bottom: 0;
		}

		.text {
			text-align: center;
			@include flex(column, center, center);
			@include tab {
				text-align: left;
				margin-right: respx(64);
				@include flex(column, flex-start);
			}
		}
	}
}
