@import "../../../scss/variables";
@import "../../../scss/utilities";

.footer {
	width: 100%;
	padding: respx(56) 0 respx(24);
	background-color: $gray-01;
	color: $gray-06;

	.main {
		width: 96%;
		margin: 0 auto;
		flex-wrap: wrap;
		@include flex(row, start, space-between);
		@include tab {
			width: 56%;
		}

		.socials,
		.podcasts,
		.org {
			@include flex(column, flex-start);

			.link {
				margin-bottom: respx(20);

				a {
					color: $gray-06;
					margin-right: respx(3.2);
				}

				i {
					color: $gray-06;
				}
			}
		}
	}

	.copyright {
		text-align: center;
		margin-top: respx(32);
		@include flex(column, center, center);

		.designer {
			margin-bottom: respx(4);

			.link {
				display: inline;
				color: $primary-color;
				margin-left: respx(6);
			}
		}
	}
}
