@import "../../../scss/variables";
@import "../../../scss/utilities";

.button {
	@include flex(row, center, center);
	outline: none;
	background: transparent;
	border: none;
	cursor: pointer;
}

.transparent + .primary {
	color: $primary-color;
}

.transparent + .gray {
	color: $gray-06;
}

.textButton {
	@extend .button;
}

.iconButton {
	@extend .button;
}
