@import "../../../scss/variables";
@import "../../../scss/utilities";

.transparent + .primary {
	color: $primary-color;
}

.transparent + .gray {
	color: $gray-06;
}

.transparent + .white {
	color: $gray-00;
}
