.text-control {
	background: $gray-06;
	padding: $spacing-1 $spacing-5;
	border-radius: $spacing-2;
	@include flex;

	span {
		margin: $spacing-1 $spacing-1 0 0;
	}

	input {
		width: 100%;
		background: transparent;
		border: none;
		color: $black-06;
		@include paragraph-2;

		&::placeholder {
			@include paragraph-2;
			color: $gray-01;
		}

		&:focus-within {
			outline: none;
		}
	}
}

.text-control-iconed {
	background: $gray-06;
	padding: $spacing-1 $spacing-4;
	border-radius: $spacing-2;
	@include flex(row, center);

	span {
		color: $gray-01;
		margin-right: $spacing-1;
	}

	input {
		width: 100%;
		background: transparent;
		border: none;
		color: $black-06;
		@include paragraph-2;

		&::placeholder {
			@include paragraph-2;
			color: $gray-01;
		}

		&:focus-within {
			outline: none;
		}
	}
}

.text-control-actioned {
	@include flex;

	input {
		border-radius: $spacing-2;
		background: $gray-06;
		padding: $spacing-1 $spacing-5;
		width: 100%;
		border: none;
		color: $black-06;
		margin-right: $spacing-4;
		@include paragraph-2;

		&::placeholder {
			@include paragraph-2;
			color: $gray-01;
		}

		&:focus-within {
			outline: none;
		}
	}

	.action {
		@include paragraph-2;
		color: $primary-color;
	}
}

.text-control-group {
	@include flex($justify: space-between);
}
