@import "../../../scss/variables";
@import "../../../scss/utilities";

.alertmsg {
	position: fixed;
	z-index: 1;
	width: 100%;
	padding: respx(12);
	background: $black-06;
	@include flex(row, center, center);

	.msgText {
		text-align: center;
		line-height: 1.6;
		color: $gray-04;
	}
}
