@import "../../../scss/variables";
@import "../../../scss/utilities";

.slide {
	width: 90%;
	margin: respx(112) auto respx(120);

	.gallery {
		width: 100%;
		columns: auto respx(200);
		column-gap: respx(40);

		img {
			width: 100%;
			height: 100%;
			border-radius: respx(16);
			margin-bottom: respx(48);
		}
	}
}
