@import "../../../scss/variables";
@import "../../../scss/utilities";

.gs {
	width: 100%;
	height: max-content;
	border-radius: respx(8);
	padding: respx(64) respx(16) respx(64) respx(16);
	margin-bottom: respx(8);
	@include tab {
		padding: respx(112) respx(16) respx(120) respx(16);
	}
}

.light {
	background: $gray-01;
	@extend .gs;
}
