@import "../../../scss/variables";
@import "../../../scss/utilities";

.nav {
	position: sticky;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	border-bottom: 1px solid $gray-04;
	background-color: hsla(0, 0%, 100%, 0.9);
	backdrop-filter: blur(48px);

	.mainContainer {
		padding: respx(12) respx(16);
		@include flex(row, center, space-between);
		@include tab {
			padding: respx(8) respx(24);
		}

		.navLeft {
			@include flex(row, center, center);

			.brand {
				color: $black-06;
			}

			.tabLinks {
				@include d-none;

				@include tab {
					@include flex(row, center, center);
					margin-left: respx(70);
					@include flex(row, center, center);

					.navItem {
						margin: 0 respx(20);
						a {
							color: $black-01;
						}
					}
				}
			}
		}

		.navRight {
			.toggleBtn {
				@include tab {
					@include d-none;
				}
			}

			.supportLink {
				@include d-none;

				@include tab {
					color: $primary-color;
					@include flex;
				}
			}
		}
	}

	.mobileLinks {
		width: 96%;
		margin: respx(24) auto respx(54);
		padding: 0 respx(24);
		@include flex(column, center, center);
		@include tab {
			@include d-none;
		}

		.navItem {
			width: 100%;

			.navLink {
				width: 100%;
				padding: respx(12) 0;
				color: $black-02;
				border-bottom: 0.8px solid $gray-04;
			}
		}

		.navItem:last-child {
			a {
				color: $primary-color;
				border: none;
				@include flex;
			}
		}
	}

	.mobileNavClosed {
		@include d-none;
	}
}

.dark {
	background-color: rgba(0, 0, 0, 0.9);
	border-bottom: 1px solid $black-02;

	.mobileLinks {
		.navItem {
			.navLink {
				width: 100%;
				padding: respx(12) 0;
				color: $gray-04;
				border-bottom: 0.8px solid $black-03;
			}
		}
	}

	.mainContainer {
		.navLeft {
			.brand {
				color: $gray-02;
			}

			.tabLinks {
				.navItem {
					a {
						color: $gray-04;
					}
				}
			}
		}
	}
}
