@import "../../../scss/variables";
@import "../../../scss/utilities";

.slide {
	width: 100%;
	margin: 0 auto;

	.slideText {
		.text {
			.caption {
				background: $gradient-color;
				margin-bottom: respx(8);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;

				@include laptop-small {
					margin-bottom: respx(8);
				}
			}
			.title {
				margin-bottom: respx(7.2);
				color: $black-06;
			}

			.description {
				margin-bottom: respx(48);
				color: $black-01;
			}
		}
	}

	.imageContainer {
		.image {
			width: 100%;
			height: auto;

			@include tab {
				width: respx(400);
			}

			@include laptop-small {
				width: respx(640);
			}
		}
	}
}

.textTop {
	@include flex(column);

	.slideText {
		margin-bottom: respx(48);

		.text {
			@include flex(column, center);
		}
	}
}

.textBottom {
	@include flex(column);

	.slideText {
		margin-top: respx(48);
		order: 1;

		.text {
			@include flex(column, center);
		}
	}
}
