@import "../../../scss/variables";
@import "../../../scss/utilities";

.slide {
	width: 100%;
	margin: 0 auto;

	.slideText {
		width: 92%;
		@include tab {
			width: 36%;
		}
		@include laptop-small {
			width: 28%;
		}

		.text {
			width: 100%;
			text-align: center;

			.caption {
				background: $gradient-color;
				margin-bottom: respx(8);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;

				@include laptop-small {
					margin-bottom: respx(8);
				}
			}
			.title {
				margin-bottom: respx(7.2);
				color: $black-06;
			}

			.description {
				margin-bottom: respx(24);
				color: $black-01;
				@include linebreak;
			}
		}
	}

	.imageContainer {
		.image {
			width: 100%;
			height: auto;
			object-fit: cover;

			@include tab {
				width: respx(400);
			}

			@include laptop-small {
				width: respx(640);
			}
		}
	}
}

.textTop {
	@include flex(column);

	.slideText {
		margin-bottom: respx(40);

		.text {
			@include flex(column, center);
		}
	}
}

.textBottom {
	@include flex(column-reverse);

	.slideText {
		margin-top: respx(40);

		.text {
			@include flex(column, center);
		}
	}
}
