@import "../../../scss/utilities";
@import "../../../scss/variables";

.headerContainer {
	width: 100%;
	height: 100vh;
	padding-bottom: 16vh;
	margin: 0 auto;
	line-height: 1;
	background: linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.4)),
		url("/images/slides/h2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@include flex(row, flex-end, center);
	@include xxxlarge-height {
		height: 68vh;
	}

	.headerContent {
		width: 96%;
		margin: 0 auto;
		text-align: center;
		@include tab {
			margin: 0;
		}
	}

	.caption {
		margin-bottom: respx(20);
		color: $gray-00;
	}

	.name {
		margin-bottom: respx(14);
		color: $gray-00;
	}

	.theme {
		color: $gray-02;
	}

	.action {
		width: max-content;
		margin: respx(64) auto 0;
		@include flex(row, center, center);
		@include tab {
			margin-top: respx(40);
		}

		.actionBtn {
			@include flex(row, center, center);
			color: $primary-color;
			outline: none;
			background: transparent;
			border: none;
			cursor: pointer;

			i {
				padding: 0;
				margin-left: respx(4);
			}
		}
	}
}
