@import "../../../scss/variables";
@import "../../../scss/utilities";

.slide {
	text-align: center;

	.title {
		margin-top: respx(14);
		margin-bottom: respx(80);
		color: $primary-color;
	}

	.mainTextArea {
		width: 80%;
		margin: 0 auto;

		@include laptop-small {
			width: 36%;
		}

		.description {
			color: $black-06;
		}

		.extra {
			margin-top: respx(32);
			color: $black-01;
		}
	}
}
